<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004368181970-alcomlt7go9i8jdndf1kgkksa1oltlt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004368181970-alcomlt7go9i8jdndf1kgkksa1oltlt3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPz-i8Sn5n-RC8MIyM0-Jvo6hsTmGh5mg</string>
	<key>GCM_SENDER_ID</key>
	<string>1004368181970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martinsmaicon.myMarket</string>
	<key>PROJECT_ID</key>
	<string>mymarket-41049</string>
	<key>STORAGE_BUCKET</key>
	<string>mymarket-41049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004368181970:ios:8e446bf6102c8822</string>
	<key>DATABASE_URL</key>
	<string>https://mymarket-41049.firebaseio.com</string>
</dict>
</plist>